صفحات css 
■■■■■■■■■■■■■
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #10182f;
}
.container {
  display: flex;
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}
■■■■■■■■■■
.social-overlap {
    position: absolute;
    width: 100%;
    
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}


.social-bar {
    display: flex;
    border-radius:10px;
    background: #9cffa80a;
  
  border: 10px solirgba(241, 228, 127, 0.667)c;
}
.iconpad {
    padding: 4px 0;
    width: 100%;
}




.social-icons a {
    border-radius: 50px;
    color: #3f345f;
    display: inline-block;
    line-height: 52px;
    height: 50px;
    width: 50px;
    box-shadow: 0 5px 25px rgba(93, 70, 232, 0.15);
    margin: 5px 27px;
    font-size: 22px;
}


.slider-nav-item:before {
    position: absolute;
    content: "";
    height: calc(100% + 16px);
    width: calc(100% + 16px);
    top: -8px;
    left: -8px;
    border-radius: 50%;
    border: 1px solid rgba(132, 132, 164, 0.35);
    animation: 1.5s linear 0s normal none infinite focuse;
}



/*socil*/

.process-scetion .slider-nav-item {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 50%;
    text-align: center;
    background: #ffffff;
    cursor: pointer;
    transition: all .9s ease;

}


    .process-scetion .slider-nav-item:nth-child(2) {
      color: #00103f; }
    .process-scetion .slider-nav-item:nth-child(3) {
      color: #4179f3; }
   
    .process-scetion .slider-nav-item:after {
      position: absolute;
      top: 50%;
      left: 100%;
      height: 2px;
      content: '   ';
      width: 100%;
      background: url(http://demo.themenio.com/ico/assets/images/line.png) repeat 0 0;
      z-index: 0;
      animation: slide 1s linear infinite; }
    .process-scetion .slider-nav-item:last-child:after {
      display: none; }
    .process-scetion .slider-nav-item .ikon {
      font-size: 50px;
      line-height: 80px; }


   
   

@keyframes focuse {
  0% {
    transform: scale(0.8);
    opacity: 1; }
  75% {
    transform: scale(1.2);
    opacity: 0; }
  100% {
    transform: scale(1.2);
    opacity: 0; } }
@keyframes slide {
  from {
    background-position: 0 0; }
  to {
    background-position: 40px 0; } } 
■■■■■■■■■■
ul {
  list-style-type: none;
}

a, a:hover {
  text-decoration: none;
}


body .testimonial {
  padding: 100px 0;
}
body .testimonial .row .tabs {
  all: unset;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}
body .testimonial .row .tabs li {
  all: unset;
  display: block;
  position: relative;
}

body .testimonial .row .tabs li:nth-child(1) {
  align-self: flex-end;
}
body .testimonial .row .tabs li:nth-child(1)::before {
  left: 64%;
  bottom: -50px;
}
body .testimonial .row .tabs li:nth-child(1)::after {
  left: 97%;
  bottom: -81px;
}
body .testimonial .row .tabs li:nth-child(1) figure img {
  margin-left: auto;
}
body .testimonial .row .tabs li:nth-child(2) {
  align-self: flex-start;
}
body .testimonial .row .tabs li:nth-child(2)::before {
  right: -65px;
  top: 50%;
}
body .testimonial .row .tabs li:nth-child(2)::after {
  bottom: 101px;
  border-radius: 50%;
  right: -120px;
}
body .testimonial .row .tabs li:nth-child(2) figure img {
  margin-right: auto;
  max-width: 300px;
  width: 100%;
  margin-top: -50px;
}
body .testimonial .row .tabs li:nth-child(3) {
  align-self: flex-end;
}
body .testimonial .row .tabs li:nth-child(3)::before {
  right: -10px;
  top: -66%;
}
body .testimonial .row .tabs li:nth-child(3)::after {
  top: -130px;
  border-radius: 50%;
  right: -46px;
}
body .testimonial .row .tabs li:nth-child(3) figure img {
  margin-left: auto;
  margin-top: -50px;
}
body .testimonial .row .tabs li:nth-child(3):focus {
  border: 10px solid red;
}
body .testimonial .row .tabs li figure {
  position: relative;
}
body .testimonial .row .tabs li figure img {
  display: block;
}
body .testimonial .row .tabs li figure::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -5;
  width: 100%;
  height: 100%;
  border: 4px solid #b08c68;
  border-radius: 50%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
body .testimonial .row .tabs li figure:hover::after {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
body .testimonial .row .tabs.carousel-indicators li.active figure::after {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
body .testimonial .row .carousel > h3 {
  font-size: 20px;
  line-height: 1.45;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  margin-bottom: 0;
}

body .testimonial .row .carousel .carousel-indicators {
  all: unset;
  padding-top: 43px;
  display: flex;
  list-style: none;
}
body .testimonial .row .carousel .carousel-indicators li {
  background: #000;
  background-clip: padding-box;
  height: 2px;
}



@media only screen and (max-width: 1200px) {
  body .testimonial .row .tabs {
    margin-right: 25px;
  }
}
■■■■■■■■■■■■

.center {
    Align-items: center;
    Display: flex;
    Flex-direction: column;
    Height: 30%;
    Justify-content: center;
  }
  
  .wrapper {
    Display: flex;
    Grid-gap: 1em;
    Overflow: hidden;
    Width: 74em;
  }
  .wrapper > .inner {
    Display: flex;
    Grid-gap: 1em;
    Transition: all 2s ease-in-out;
  }
  

  .card > img {
    Border-top-right-radius: inherit;
    Border-top-left-radius: inherit;
    Display: block;
    Width: 17.5em;
  }
  .card > .content {
    Background: #256a31;
    Border-bottom-left-radius: inherit;
    Border-bottom-right-radius: inherit;
    Padding: 1em;
    Text-align: center;
  }
  .card > .content > h1, .card > .content > h3 {
    Margin: 0.35em 0;
  }
  .card > .content > h1 {
    Color: #fff;
    Font-size: 1.25rem;
    Line-height: 1;
  }
  .card > .content > h3 {
    Color: #ccc;
    Font-size: 0.9rem;
    Font-weight: 300;
  }
  
  .map {
    Margin-top: 1em;
  }
  .map > button {
    All: unset;
    Background: #116c3a;
    Cursor: pointer;
    Margin: 0 0.125em;
    Position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            User-select: none;
    Border-radius: 100%;
    Height: 1em;
    Width: 1em;
  }
  .map > button.active:after {
    Background: #034e2a;
    Content: “”;
    Left: 50%;
    Position: absolute;
    Transform: translate(-50%, -50%);
    Top: 50%;
    Border-radius: 100%;
    Height: 0.5em;
    Width: 0.5em;
  }
■■■■■■■■■■■
.bar {
  position: relative;
  display: block;
  width: 320px;
}
.bar:before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #f3db21
  transition: 300ms ease all;
  left: 0%;
}

.btn:hover {
  color: #8b8b8b;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}
.btn.btn-link {
  background:  #f3db21;
  color: #d3eafd;
}
.btn.btn-link:hover {
  background: #f3db21;
  color: #deeffd;
}
.btn.btn-submit {
  background: #9c7800;
  color: #bce0fb;
}
.btn.btn-submit:hover {
  background: #9c7800;
  color: #deeffd;
}
.btn.btn-cancel {
  background: #eee;
}
.btn.btn-cancel:hover {
  background: #e1e1e1;
  color: #8b8b8b;
}

.btn-box {
  text-align: center;
  margin: 50px 0;
}
■■■■■■■■■
.header-blue .navbar .form-inline .search-field {
  display:inline-block;
  width:80%;
  background:none;
  border:none;
  border-bottom:1px solid transparent;
  border-radius:0;
  color:#0d3510;
  box-shadow:none;
  color:inherit;
  transition:border-bottom-color 0.3s;
}

.header-blue .navbar .form-inline .search-field:focus {
  border-bottom:1px solid #daffeb;
}

